bin/
bin-int/
doc/
.vs/

/ThirdParty/glfw
/ThirdParty/gtest
/ThirdParty/imgui
/ThirdParty/spdlog
/ThirdParty/toml++

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

node_modules/
packages/

premake5.exe
