bin/
bin-int/
doc/
.vs/

/ThirdParty/glfw
/ThirdParty/gtest
/ThirdParty/imgui
/ThirdParty/spdlog
/ThirdParty/toml++

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CodeLite
*.workspace
*.project

node_modules/
packages/

premake5.exe

*.log
