[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gmasterhd/spdlog
[submodule "ThirdParty/gtest"]
	path = ThirdParty/gtest
	url = https://github.com/gmasterhd/googletest
[submodule "ThirdParty/boost/preprocessor"]
	path = ThirdParty/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "ThirdParty/toml++"]
	path = ThirdParty/toml++
	url = https://github.com/gmasterhd/tomlplusplus
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/GMasterHD/glfw
[submodule "ThirdParty/glad"]
	path = ThirdParty/glad
	url = https://github.com/GMasterHD/glad
